body {
}

#controller {
    overflow: hidden;
    padding: 15px 0px 20px 0px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: cornflowerblue;
    width: 100%;
    left: 0;
    top: 0;
}


#controllerAdv {
    padding: 0px 20px;
}

#controllerAffichage {
    padding: 0px 20px;
}

#spanSelectTeam, #spanSelectAdv, #spanSelectAffichage {
    margin: 0px 5px;
}

#flexContainer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#flexContainer > * {
    flex: 1 0 auto;
}


#flexContainer > table {
    margin: 5px;
    padding: 3px;
    border: 2px solid;
    width: 390px;
    max-width: 390px;
    min-width: 390px;
}

#Titre1T, #Titre2T {
    width:100%;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    font: bolder 18px arial;
    padding: 20px;
}

#Titre1T{

}

#Titre2T {

}

.colSize1 {
	width: 25px;
}
.colSize2 {
	width: 50px;
}
.colSize3 {
	width: 70px;
}


.Week{
    font: bolder 18px arial;
    vertical-align: middle;
    text-align:center;
    color: white;
    background-color: black;
}

.Versus {
    vertical-align: middle;
    text-align: center;
    background-color: grey;
}

.Score {
    vertical-align: middle;
    text-align: center;
    background-color: grey;
}

.HomeTeam {
    text-align: right;
}

.HomeScore {
    text-align: right;
}

.PlayerOrder, .PlayerRanking, .VictoryCount {
    text-align:center;
}

td, th {
    border: 2px inset;
}

.myTeam{
    background-color: lightskyblue;
}
#flexContainer > .isHome {
}
#flexContainer > .isAway {
    border-color: red;
}