body {
}

#controller{
    display: flex;
    margin: 15px 30px 20px 30px;
}

#controllerAdv {
    flex: 1;
}

#controllerAffichage {
    
}

#Match1T table {
    display: inline-block;
}

#Match2T table {
    display: inline-block;
}

#Titre1T, #Titre2T {
    text-align: center;
    font: bolder 18px arial;
    padding: 20px;
}

#Titre1T{

}

#Titre2T {

}

.Week{
    font: bolder 18px arial;
    vertical-align: middle;
    text-align:center;
    color: white;
    background-color: black;
}

.Versus {
    vertical-align: middle;
    text-align: center;
}

.Score {
    vertical-align: middle;
    text-align: center;
}

.HomeTeam {
    text-align: right;
}

.HomeScore {
    text-align: right;
}

.PlayerOrder, .PlayerRanking, .VictoryCount {
    text-align:center;
}

table {
    margin: 5px;
    padding: 3px;
    border: 2px solid;
    width: 360px;
}

td, th {
    border: 2px inset;
}